html {
	box-sizing: border-box;
}

*,
* : before,
* : after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("../img/dry_erase_board.jpg");
	background-size: 100%;
	background-repeat: repeat;
	font-family: 'Architects Daughter', cursive;
	color: #333333;
}

#container {
	max-width: 900px;
	margin: auto;
	padding: 0.5em;
}

/* header */

header {
	background-image: url("../img/dry_erase_board.jpg");
}

h1 a {
	text-decoration: none;
	color: #666699;
}

header h4,
header p {
	line-height: 40%;
}

img {
	max-width: 25%;
}

@media (min-width: 600px) {
	#info {
		float: left;
	}
	figure {
		float: right;
	}
}

@media (min-width: 600px) {
	img {
		max-width: 100%;
	}
}

/* Main content */

#content {
	clear: both;
}

h2 {
	color: #50bcb8;
}

@media (min-width: 600px) {
	#skills {
		float: left;
		width: 50%;
	}
	#interests {
		float: right;
		width: 50%;
	}
}

/* Footer */

footer {
	clear: both;
}

footer h2 {
	color: #87a4ca;
}

#fb {
	background-image: url("../img/facebook.png");
	background-repeat: no-repeat;
	width: 58px;
	height: 58px;
	padding: 5px;
	float: right;
}

#in {
	background-image: url("../img/linkedin.png");
	background-repeat: no-repeat;
	width: 58px;
	height: 58px;
	padding: 5px;
	float: right;
}

#wp {
	background-image: url("../img/wordpress.png");
	background-repeat: no-repeat;
	width: 58px;
	height: 58px;
	padding: 5px;
	float: right;
}

#pin {
	background-image: url("../img/pinterest.png");
	background-repeat: no-repeat;
	width: 58px;
	height: 58px;
	padding: 5px;
	float: right;
}

/* Hover Rotate */

#fb:hover,
#fb:focus,
#fb:active {
	transform: rotate(18deg);
}

#in:hover,
#in:focus,
#in:active {
	transform: rotate(-25deg);
}

#wp:hover,
#wp:focus,
#wp:active {
	transform: rotate(12deg);
}

#pin:hover,
#pin:focus,
#pin:active {
	transform: rotate(-19deg);
}

@media (min-width: 600px) {
	footer h2 {
		float: left;
		width: 50%;
	}
	#social {
		float: right;
		width: 50%;
	}
}
