html {
	box-sizing: border-box;
}

*,
* : before,
* : after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("../img/dry_erase_board.jpg");
	background-size: 1000px 1000px;
	background-repeat: repeat;
	font-family: 'Architects Daughter', cursive;
	color: #333333;
}

#container {
	max-width: 900px;
	margin: auto;
	padding-top: 40px;
}

h1 {
	color: #666699;
}

h2 {
	color: #50bcb8;
}

#social {
	width: 350px;
	height: 58px;
	float: right;
}

#fb {
	background-image: url("../img/facebook.png");
	background-repeat: no-repeat;
	width: 58px;
	height: 58px;
	padding: 5px;
	float: left;
}

#in {
	background-image: url("../img/linkedin.png");
	background-repeat: no-repeat;
	width: 58px;
	height: 58px;
	padding: 5px;
	float: left;
}

#wp {
	background-image: url("../img/wordpress.png");
	background-repeat: no-repeat;
	width: 58px;
	height: 58px;
	padding: 5px;
	float: left;
}

#pin {
	background-image: url("../img/pinterest.png");
	background-repeat: no-repeat;
	width: 58px;
	height: 58px;
	padding: 5px;
	float: left;
}

/* Hover Rotate */

#fb:hover,
#fb:focus,
#fb:active {
	transform: rotate(18deg);
}

#in:hover,
#in:focus,
#in:active {
	transform: rotate(-25deg);
}

#wp:hover,
#wp:focus,
#wp:active {
	transform: rotate(12deg);
}

#pin:hover,
#pin:focus,
#pin:active {
	transform: rotate(-19deg);
}
